@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

:root {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;

	--color-danger: hsl(0, 100%, 50%);
	--color-primary: hsl(228, 84%, 62%);
	--color-success: hsl(101, 89%, 26%);
	--color-success-bg: hsl(97, 100%, 83%);

	--color-neutral-100: hsl(0, 0%, 100%);
	--color-neutral-200: hsl(0, 0%, 80%);
	--color-neutral-300: hsl(0, 0%, 60%);
	--color-neutral-400: hsl(0, 0%, 40%);
	--color-neutral-500: hsl(0, 0%, 20%);
	--color-neutral-600: hsl(0, 0%, 0%);
}

main.container {
	padding: 5vh 10vw;
}

.separator {
	margin-block: 2rem;
	transform: translateX(-10vw);
}

@media (max-width: 500px) {
	main.container {
		padding: 5vh 2rem;
	}

	.separator {
		transform: translateX(-2rem);
	}
}

.btn {
	background-color: transparent;
	cursor: pointer;
	border: 2px solid;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0.5em 1.25em;
	border-radius: 0.5rem;
	transition: transform 100ms ease, filter 100ms ease;
}

.btn:hover {
	filter: brightness(0.9);
}

.btn:active {
	filter: brightness(0.8);
	transform: scale(0.995);
}

.btn-primary,
.btn-success,
.btn-danger {
	color: var(--color-neutral-100);
	border: 0;
	box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
	filter: brightness(1.1);
}

.btn-primary:active,
.btn-success:active,
.btn-danger:active {
	filter: brightness(0.9);
}

.btn-primary {
	background-color: var(--color-primary);
}

.btn-success {
	background-color: var(--color-success);
}

.btn-danger {
	background-color: var(--color-danger);
}

.btn-outline-danger {
	color: var(--color-danger);
	background-color: none;
	border: 2px solid var(--color-danger);
}
